<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keen&Able Intern Noida</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <img src="https://images.thecompanycheck.com/companylogo/FOSTERING_LINUX_SERVICES_PRIVATE_LIMITED.webp"
            alt="Logo">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" id="homeLink">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/program" id="homeLink">PROGRAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/aboutUs" id="aboutUsLink">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contactUs" id="contactUsLink">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/applyNow" id="applyNowLink">APPLY NOW</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>